.Cointainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border: solid 5px yellow;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/220/906/large_2x/white-wave-background-business-template-vector.jpg");
   
}
.NavVertical{
    display: flex;
    border: solid 2px rgb(255, 0, 0);
    width: 9.5%;
    height: 50%;
    z-index: 2;
    position: absolute;
    top: 10%;
}
.CardCointainer{
    border: solid 2px green;
    position: absolute;
    z-index: 3;
    left: 10%;
    top: 6%;
    width: 80%;
    height: 90%;
    margin: 2% 2% 2% 2%;

}
