.containerGaleria{
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(3, 9, 14);
}

.containerCarousel{
    width: 100%;
    height: auto;
}
