a:link,
a:visited,
a:active {
  text-decoration: none;
}

.footerTitle{
  font-size: 25px;
}

.footerPrueba{
  display: flex;
  justify-content: space-around;
}

.footerName{
  text-align: justify;
  margin: 2px;
}

.asdasd{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerContainer{
  border: solid 2px black

}

.footerContainer2{
  border: solid 2px red;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;
}

.footerContainer3{
  border: solid 2px green;
  margin: 2px;
  width:50%;
}

